.city-card {
  width: 33%;
}

.city-card-name {
  /* text-align: center; */
  color: white;
  text-shadow: 0.1rem 0.1rem black;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
}

.city-card-image {
  border: 1px solid black;
}

.selected-card {
  transform: scale(1.05);
  border: 1px solid white;
}
