.home-page .city {
  width: 50%;
  padding-left: 13rem;
  color: white;
}

.home-page .city-title {
  font-size: 6rem;
  text-transform: uppercase;
  margin-bottom: 0;
  text-shadow: 0.2rem 0.2rem 0.4rem black;
  animation: slide-up 2s;
}

.home-page .city-description {
  font-size: 1.2rem;
  margin-top: 0;
  text-shadow: 0.1rem 0.1rem black;
  animation: slide-up 2s;
}

.home-page .city-explore-button {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  color: #fff;
  cursor: pointer;
  background: #25619f;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border: none;
  text-decoration: none;
  font-weight: 700;
  text-shadow: 0.1rem 0.1rem black;
  margin-top: 1rem;
  box-shadow: 0.1rem 0.2rem 0.4rem black;
  animation: slide-up 2s;
  font-size: 1.5rem;
}

.home-page .city-explore-button:hover {
  background: #fff;
  color: #25619f;
  text-shadow: none;
}

@keyframes slide-up {
  from {
    transform: translateY(100px);
  }
  to {
    transform: translateY(0);
  }
}
