body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.container {
  max-width: 1200px;
  margin: auto;
  text-align: center;
}
.city {
  font-size: 5vmin;
  text-shadow: 2px 3px 2px rgba(150, 150, 150, 0.95);
}
.place {
  text-align: left;
  margin-top: 5vmin;
}
.place-name {
  font-size: 3vmin;
}
.place-image {
  width: 50vw;
  /* height: 70vh; */
}
.place-description {
  width: 50vw;
  font-size: 1.7vmin;
  line-height: 1.5;
  margin: 3vmin 0;
}
.navbar {
  background-color: yellow;
}
