body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container {
    max-width: 1200px;
    margin: auto;
    text-align: center;
}
.city {
    font-size: 4vmin;
}
.place {
    text-align: left;
    margin-top: 5vmin;
}
.place-name {
    font-size: 3vmin;
}
.place-image {
    width: 1200px;
    height: 900px;
}
.place-description {
    font-size: 1.7vmin;
    line-height: 1.5;
    margin: 3vmin 0;
}
.navbar {
    background-color: yellow;
}