.Button {
    width: 8em;
    height: 3em;
    color: #fff;
    cursor: pointer;
    background: #25619F;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: none;
}

.Button:hover {
    background: #fff;
    color: #25619F;

}